<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hola dime a quien saludar</h1>
    <form class="" action="/hola" method="post">
      <label for="name">
        <input type="text" name="name" id="name">
        <input type="submit" name="Submit" />
      </label>

  </body>
</html>
